/* ---- GENERAL ---- */
body {
    background-image: url(images/adn-bg.png);
}

ul {
    list-style: none;
}

/* ---- NAVIGATION SECTION---- */

/* Container */
.navigation-container {

    background-color: #0096FF;
    border-radius: 0 0 5px 5px;
    padding: 0;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .navigation-container {
        margin: 0 auto !important;
        max-width: 96%;
    }
}

.navbar {
    height: 71.27px;
    padding: 0;
    text-align: left;
}

/* Logo */
.row {
    height: 100%;
    margin: 0;
    width: 100%;
}

.nav-logo {
    height: 100%;
    position: relative;
    width: 8rem;
}

.nav-logo img {
    width: 4rem;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 1200px) {
    .nav-logo img {
        left: 1rem;
        width: 6rem;
    }
}

/* items */
.nav-wrap {
    padding: 0;
    height: 100%;
}

.nav-item {
    width: 10%;
    padding: 0;
    position: relative;
    text-align: center;
}

.fas {
    font-size: 5rem;
}

.border-dk {
    border-right: rgba(0, 0, 0, 0.95) solid 0.5px;

}

.nav-link {
    margin-top: 1.2rem;
    font-size: 1.4rem;
    color: white;
    padding: 0;
}

@media screen and (max-width: 575px) {
    .nav-link {
        font-size: 1.1rem;
        margin-top: 1.6rem;
    }

    .border-dk {
        border: none;
    }

    .nav-wrap {
        padding: 0 1rem;
    }
}

.nav-link-txt {
    font-family: 'Poppins', sans-serif;
    padding-left: 0.5rem;
    font-size: 12px;
    text-transform: uppercase;
}

@media screen and (max-width: 950px) {
    .nav-link-txt {
        display: none;
        text-transform: uppercase;
    }
}

/* Sub Button */
.sub-btn {
    margin: 0.9rem 2rem 0;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 165px;
    height: 45px;
    background-color: rgb(0, 222, 82);
    border-radius: 0%;
    border: solid 1.5px white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.sub-btn:hover {
    background-color: white;
    color: rgb(0, 222, 82);
    border-color: rgb(0, 222, 82);
}

@media screen and (max-width: 991px) {
    .sub-btn {
        margin: 1.5rem auto 0;
        margin-top: 1.3rem;
        width: 120px;
        height: 35px;
        font-size: 17px;
    }
}

@media screen and (max-width: 575px) {
    .sub-btn {
        margin-top: 1.5rem;
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}


/* ---- CONTENT SECTION---- */

/* Containers */
.content-container {
    margin: 7.5rem auto 3rem;
    padding: 0;
}

.content-container .row {
    padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .content-container {
        margin: 5.5rem auto 3rem !important;
        max-width: 96%;
    }
}

/* Feed */
.feed {
    width: 100%;
    padding: 0;
}

/* Main */
.main {
    height: 465px;
    border-radius: 5px;
    background-color: rgb(0, 150, 255);
    padding: 0;
    overflow: hidden;
}

/* Carousel */
.carousel {
    height: 100%;
}

.carousel .col-lg-5 {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.carousel img {
    width: 350px;
    z-index: -1;
}

.carousel .col-2 {
    height: 500px;
    position: relative;
    left: -2rem;
    padding: 0;
    background-color: rgb(0, 150, 255);
    transform: rotate(5deg);
}

.item-txt {
    color: #FFF;
    position: relative;
}

.item-txt h1 {
    position: absolute;
    top: 40%;
    left: -5rem;
    transform: translateY(-50%);
    font-size: 3rem;
}

.item-txt button {
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    left: 40%;
    width: 12rem;
    height: 3rem;
    background-color: rgb(0, 150, 255);
    color: #FFF;
    border: 1.5px solid #FFF;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}

.item-txt button:hover {
    background-color: #FFF;
    color: rgb(0, 150, 255);
    border-color: #FFF;
}

@media screen and (min-width: 992px) and (max-width: 1080px) {
    .item-txt h1 {
        position: absolute;
        top: 40%;
        left: -5rem;
        transform: translateY(-50%);
        font-size: 2.5rem;
    }

    .item-txt button {
        position: absolute;
        left: 35%;
        width: 10rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .item-txt h1 {
        text-align: center;
        top: 40%;
        left: -5rem;
        font-size: 2.2rem;
    }

    .item-txt button {
        position: absolute;
        left: 15%;
        width: 10rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 630px) and (max-width: 768px) {
    .carousel .col-2 {
        left: -6rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 575px) {
    .item-txt h1 {
        text-align: center;
        top: 40%;
        left: -5rem;
        font-size: 1.8rem;
    }

    .item-txt button {
        position: absolute;
        left: 5%;
        width: 10rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
}

/* Concours */
.concours {
    background: linear-gradient(#190725, #5e0a18);
    height: 260px;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.saitama {
    width: 25rem;
    position: absolute;
}

.concours-txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    right: 2rem;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.concours-title {
    width: 25rem;
    color: red;
}

.concours-btn {
    width: 10rem;
    height: 3rem;
    color: #FFF;
    border: 1.5px solid white;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
}

.concours-btn:hover {
    background-color: white;
    color: #5e0a18;
    
}

@media screen and (min-width: 992px) and (max-width: 1205px) {
    .saitama {
        left: -6rem;
    }
}

@media screen and (max-width: 991px) {
    .concours {
        height: 350px;
    }

    .saitama {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .concours-txt {
        top: 50%;
        right: 50%;
        transform: translateX(50%);
    }
}

@media screen and (max-width: 570px) {
    .concours-txt {
        top: 45%;
    }
}

/* List */
.anime-list {
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(48, 49, 50);
    border-radius: 5px;
}

.list-header {
    position: relative;
    overflow: hidden;
    height: 60px;
}

.list-header h4 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-right: 1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgb(48, 49, 50);
}


.list-header hr {
    position: absolute;
    width: 100%;
    top: 0.5rem;
    border: 5px solid #0096FF;
    left: 2rem;
}

.film-img-container {
    overflow: hidden;
    border-radius: 5px;
}

.film-img {
    transition: all 0.5s ease;
    max-width: 100%;
}

.film-img:hover {
    opacity: 0.6;
    width: 105%;
}

.film-title h4{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 0.5rem;
}


@media screen and (max-width: 570px) {
    .list-header h4 {
        font-size: 15px;
    }

    .film-title h4 {
        font-size: 0.6rem;
    }
}

.about {
    background-color: #FFF;
    margin: 1rem 0;
}

.about h4 {
    font-size: 1.4rem;
    padding: 1rem 0;
    color: rgb(88, 89, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.about p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

/* Annexe */
.annexe {
    width: 300px;
    height: 2000px;
    margin-left: 1.2rem;
}

@media screen and (max-width: 768px) {
    .annexe {
        display: none;
    }
}

/* Features */
.features {
    margin: 2rem 0 1rem;
}

.feat-row1 {
    margin-bottom: 1rem;
    height: 55px;
}

.feat-row2 {
    height: 55px;
}

.feat {
    padding: 0;
    background-color: #0096FF;
    border-radius: 5px;
    position: relative;
}

.feat-a1,
.feat-a2,
.feat-b1,
.feat-b2 {
    margin-right: 0.5rem;
}

/* a1 */

.feat-a1 * {
    position: absolute;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.a1-1 {
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    left: 1.1rem;
}

.a1-2 {
    top: -0.5rem;
    left: 2.5rem;
    font-size: 2.3rem;
}

.a1-3 {
    top: 2rem;
    left: 2.6rem;
    font-size: 1.2rem;
}

/* a2 */

.feat-a2 * {
    position: absolute;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.feat-a2 img {
    top: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
}

.a2-1 {
    top: 1.5rem;
    font-size: 1.6rem;
    left: 50%;
    transform: translateX(-50%);
}

/* a3 */

.feat-a3 * {
    position: absolute;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.a3-1 {
    top: 50%;
    font-size: 2.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* b1 */

.feat-b1 * {
    position: absolute;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.b1-1 {
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    left: 0.6rem;
}

.b1-2 {
    top: 0rem;
    left: 2rem;
    font-size: 2.3rem;
}

.b1-3 {
    top: 1.1rem;
    left: 6.5rem;
    font-size: 0.7rem;
    font-weight: 0;
    line-height: 1;
}

/* b2 */

.feat-b2 * {
    position: absolute;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.feat-b2 a {
    top: 0.3rem;
    left: 1rem;
}

.b2-1 {
    top: 2.5rem;
    font-size: 0.42rem;
    left: 50%;
    transform: translateX(-50%);
}

/* b3 */

.feat-b3 * {
    position: absolute;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.feat-b3 a {
    top: 0.3rem;
    left: 1.5rem;
}

.b3-1 {
    top: 2rem;
    font-size: 0.42rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Calendar */
.calendar {
    height: 400px;
    background-color: rgb(48, 49, 50);
    border-radius: 5px;
}

/* header */
.calendar-date {
    height: 2.5rem;
}

.calendar-date * {
    margin-top: 0.5rem;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
}

/* hour */
.calendar-hour {
    height: 30px;
}

.calendar-hour * {
    color: rgb(0, 150, 255);
}

.time {
    text-align: center;
    font-size: 1.4rem;
    margin-right: 2.4rem;
}

.col hr {
    border-top: 1.5px solid rgb(0, 150, 255);
}

/* Episodes */
.episode {
    height: 80px;
    margin-top: 0.5rem;
}

.episode .col,
.col-3 {
    position: relative;
}

.episode-img img {
    width: 120%;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.episode-title {
    color: #FFF;
    position: absolute;
    top: 1.6rem;
    left: 1.5rem;
    text-transform: uppercase;
}

/* See More */
.btn-see-more {
    height: 85px;
}

.calendar-btn {
    width: 17rem;
    margin: 0.6rem auto;
    height: 2.5rem;
    background-color: rgb(0, 150, 255);
    padding-top: 0.2rem;
}

.calendar-btn:hover {
    background-color: #FFF;
    border-color: #FFF;
    color: rgb(0, 150, 255);
}

/* Poster */
.poster {
    height: 780px;
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 5px;
}

/* img */
.poster-img {
    position: relative;
    z-index: -2;
}

.rotate-style {
    position: absolute;
    width: 200%;
    height: 29px;
    background-color: rgb(0, 150, 255);
    bottom: 0px;
    transform: rotate(-5deg);
}

/* txt */
.poster-info {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 150, 255);
    z-index: 1;
    padding: 1rem 1rem 0;

}

.poster-info * {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

.poster-info h3 {
    font-weight: 700;
    font-size: 1.3rem;
}

.poster-info p {
    font-size: 0.7rem;
    margin-bottom: 0;
}

.white-hr {
    border: 1px solid #FFF;
}

/* btn */
.poster-btn {
    background-color: rgb(0, 150, 255);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border: 1.5px solid #FFF;
    width: 97%;
    height: 40px;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0.5rem 0rem 0 0.3rem;
    letter-spacing: 0;
}

.poster-btn:hover {
    background-color: #FFF;
    border-color: #FFF;
    color: rgb(0, 150, 255);
}

.poster-copyright {
    margin-top: 0.8rem;
    color: rgb(236, 235, 235);
    font-size: 0.6rem !important;
}

/* News */
.news {
    height: 380px;
    width: 100%;
    background-color: rgb(48, 49, 50);
    margin-top: 1rem;
    border-radius: 5px;
}

/* header */
.news-header {
    height: 30px;
    position: relative;
    top: 1rem;
}

.news-header .col-6 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.news-header .col {
    padding: 0;

}

.news-hr {
    border: 12px solid rgb(0, 150, 255);
    margin-top: 0.6rem;
}

/* items */
.news-item-list {
    height: 145px;
    position: relative;
    top: 2rem;
}

.news-item-a {
    color: rgb(0, 150, 255);
    font-size: 0.7rem;
    position: absolute;
    top: 0px;
    left: 0.5rem;
}

.news-item-b {
    border: 1px solid rgb(0, 150, 255);
    width: 2.4rem;
    position: absolute;
    top: -0.5rem;
    left: 6.4rem;

}

.news-item-c {
    width: 70%;
    height: 50%;
    position: absolute;
    top: 1.3rem;
}

.news-item-d {
    color: #FFF;
    position: absolute;
    bottom: -4px;
    left: 5px;
    font-size: 0.9rem;
}

.news-more {
    color: rgb(0, 150, 255) !important;
    position: absolute;
    bottom: -1.5rem;
    left: 5px;
    font-size: 0.8rem;
}

/* ---- Footer section ----- */
.container-footer {
    background-color: #0096FF;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
} 

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container-footer {
        margin: 0 auto !important;
        max-width: 96%;
    }
}

/* header */
.footer-header {
    background-color: rgb(48, 49, 50);
    height: 65px;
    position: relative;
}

.footer-logo {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 10rem;
}

.media-logo {
    position: absolute;
    top: 1.5rem;
    left: 13rem;
}

.media-logo a {
    margin-right: 0.8rem;
}

/* info */
.footer-info {
    margin-top: 3rem;
}

.footer-item {
    padding: 0 1rem;
    border-right: 0.5px solid lightgray;
}

.footer-item * {
    color: white!important;
    font-size: 1rem;
}

.footer-item h4 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/* Copyright */
.footer-copyright {
    text-align: center;
    font-size: 0.7rem;
    color: lightgray;
    padding: 1rem 0;
}

@media screen and (max-width: 576px) {
    .footer-item {
        border-bottom: 0.5px solid lightgray;
        border-right: none;
        margin: 1rem auto;
        width: 400px;
    }

    .last-item {
        border-bottom: none;
    }
}


